/* admin layout sidebar */
.admin-sidebar-menu .ant-menu-item-selected {
  background-color: #4c6ef5 !important;
  color: #fff !important;
}

.admin-sidebar-menu .ant-menu-submenu-title:hover {
  background-color: #ceddfc !important;
}

.admin-sidebar-menu .ant-menu-item-only-child:hover {
  background-color: #ceddfc !important;
}

.admin-sidebar-menu .ant-menu-item-active {
  background-color: #ceddfc !important;
}

.admin-sidebar-menu .ant-menu-item-selected:hover {
  background-color: #4c6ef5 !important;
  color: #fff !important;
}
